{% extends 'base/base.html' %}
{% block titulo %}
    Productos
{% endblock titulo %}

{% block contenido %}
<main>

    <section class="container">
        <form action="{% url 'pagina_productos' %}" method="GET">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">ඞ</span>
              <input class="form-control" placeholder="ingresa un texto" name="busqueda">
              <input type="submit" value="Buscar" class="btn btn-success-outline"> 
            </div>
          </form>
    </section>
    
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">¡Productos Baratos!</h1>
                <p class="lead text-body-secondary">Ven obserba nuestros productos que ofresemos para tus mascotas! Desde alimentos
                    , accesorios, juguetes, medicina e incluso ropa!!!  
                </p>
                <p>
                    <a href="{% url 'pagina_productos' %}" class="btn btn-primary my-2">Ver todos los productos</a>
                    <a href="{% url 'pagina_principal' %}" class="btn btn-secondary my-2">Volver al inicio</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if lista %} 
                    {% for lugar in lista %}
                    <div class="col" id="{{ lugar.id }}">
                    <div class="card shadow-sm">
                        <img src="{{ lugar.foto }}" class="card-img-top" >
                        <div class="card-body">
                            <h2 class="card-title"> {{ lugar.nombre }}</h2>
                            <p class="card-text">
                                {{ lugar.detalle }}
                            </p>
                            <p>Precio: {{ lugar.lugar }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">X Mayor</button>
                                </div>
                                <small class="text-body-secondary">{{ lugar.hora }}</small>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}

                {% else %}
                   <h3>                   </h3> <h3 class="text-center">"{{ palabra }}" No Existe O Esta Mal Escrito ¿Dislexia activado?</h3>
                {% endif %}


                
            </div>

        </div>
    </div>
    <footer class="container">
        <p class="float-end"><a href="#">De vuelta pa arriba XD</a></p>
        <p>© 1999–2023 GatitosCompany, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
</main>
{% endblock contenido %}
